tr.done {
    background-color: lightgreen;
}

tr.in {
    background-color: skyblue;
}

tr.not {
    background-color: lightsalmon;
}

.app-header {
    display: flex;
    flex-direction: row;
}

.todo-tasks {
    width: auto !important;
}

.app-header div {
    margin-right: 20px !important;
}

.app-header input {
    margin-right: 20px !important;
    height: 54px;
}

.app-header button {
    height: 54px;
}

.input-field-container {
    height: 67px;
}